@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  background-color: #ffe0cbf6;
}

.App {
  text-align: center;
  font-family: Quicksand, sans-serif;
  margin-top: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.upload-nupp{
  background-color: #a5a5a5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  border: none;
}
.upload-nupp:hover {
  box-shadow: black 5px 5px 0px 0px;
  transform: translateY(-5px) translateX(-5px);
  background-color: #c5c5c5;
}

span {
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: rgb(94, 255, 0);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: clamp(0.75rem, 2vw, 1rem);
  z-index: 1000;
  box-shadow: rgb(187, 171, 171) 3px 3px 0px 0px;
}