.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 1rem;
  padding: 2rem;
  width: 50%;
  justify-self: center;
  background-color: #333;
  box-shadow: black 0.5vw 1vh 0px 0px;
  margin-top: 2vh;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.2s ease;
}
.gallery-image:hover{
    box-shadow: black 5px 5px 0px 0px;
    transform: translateY(-2px) translateX(-2px);
}