.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 1rem;
  padding: 2rem;
  width: 50%;
  justify-self: center;
  background-color: #333;
  box-shadow: black 0.5vw 1vh 0px 0px;
  margin-top: 2vh;
}
.gallery-item{
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.2s ease;
  display: block;
}
.gallery-image:hover{
  box-shadow: black 5px 5px 0px 0px;
  transform: translateY(-2px) translateX(-2px);
}

.delete-nupp {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  border-radius: 20%;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s ease;
}

.delete-nupp:hover {
  background: rgba(255, 0, 0, 1);
  box-shadow: black 3px 3px 0px 0px;
  transform: translateY(-2px) translateX(-2px);
}